@{
    ViewData["Title"] = "Sistema de Contato";
}

<div class="text-center">
    <h1>Listagem de Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Numero</th>
                <th scope="col">E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>22 9998257417</td>
                <td>mark@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>31 9998554774</td>
                <td>jacob@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>22 9988554477</td>
                <td>larry@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
